<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1 style="text-align: center; font-style: oblique;">Kanumuru Venkata Seshamma Constructions</h1>
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-6 fst-italic">
        <p class="text">We look forward to meet prospective customers so that our elite team members can explain our
          demonstrated strengths and future potentials.</p>
      </h1>
    </div>
  </div>
  <hr>
  <div class="">
    <h1 class="display-5 fw-bold lh-1 mb-3">About Us</h1>
  </div>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./assets/images/ab1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
        height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <div class="outerTwoThirds">
        <p>We <strong class="highlight">KVS CONSTRUCTION COMPANY </strong> are proud to introduce ourselves, as one of
          the
          leading Industrial Construction Companies based in the GCC, and the
          well-known Indian based Construction Company. </p>
        <br>
        <p>We have established <strong class="highlight">KVS CONSTRUCTION COMPANY</strong> and started
          Operations in 2019. Within a short span of time, we have successfully executed prestigious
          projects in Cement, Waste Gas Recovery System, Lime and Steel Industry for our esteemed
          Customers.</p>
        <br>
        <p class="text">Our Electro-Mechanical Division's capability includes fabrication and erection of structural
          buildings of any size and demonstrated potential to handle erection and commissioning of all
          types of Industrial Plant and machinery for Cement, Oil &amp; Gas, Off-Shore &amp; On-Shore pipe lines,
          Steel, Minerals, Cement, Paper and Power Sectors.</p>
        <br>
        <p><strong class="highlight">KVS CONSTRUCTION COMPANY</strong> have their own fleet of Cranes and Earth moving
          equipment, contemporary tools and tackles required for mechanical equipment installation besides
          significant quantity of scaffolding materials.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <p><span class="dropcap2">1.</span><strong class="highlight">KVS CONSTRUCTION COMPANY </strong> have a team of
        dedicated supervisors and
        managerial professionals ably supported by a well experienced and talented crew of supporting
        staff, draftsmen, technicians and skilled labour force to meet the challenges of Mega sized Industrial
        projects in the Middle East and ready to move at a short notice period, if required.</p>


    </div>
    <div class="feature col">
      <p><span class="dropcap2">2.</span><strong class="highlight">KVS CONSTRUCTION COMPANY's</strong> Civil
        construction division is well equipped and
        having experience and expertise to handle piling, shoring, dewatering, water proofing, slip-form
        concerting for industrial construction jobs besides the conventional sub and super structured
        concreting and all the related jobs.</p>


    </div>
    <div class="feature col">
      <p><span class="dropcap2">3.</span><strong class="highlight"> ENGINEERING EXPERTS</strong> </p>
      <p>
      </p>
      <ul class="bullet2">
        <li>Industrial civil construction of a building up to the height of 165 meters</li>
        <li>Fabrication fo 12,000 MT of steel</li>
        <li>Erection of Plant &amp; Machinery of 25,000MT</li>
        <li>Civil Concerting of 60,000M</li>
        <li>Installation and commissioning of Electrical Sub Stations of both high and medium voltage,
          power distribution networks including cabling for complete plant automation.</li>
      </ul>
    </div>
  </div>
  <div class="container ">
    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">K.Rajasekhar Reddy</span></h2>
        <p class="lead">Mr.Kanumuru Rajasekhar Reddy is The Founder and Manging Director Of KVS Constructions.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          src="./assets/images/Rajasekharsir-1.jpg" alt="">
      </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><span class="text-muted">K.Praveen Kumar Reddy</span></h2>
        <p class="lead"> Mr.Kanumuru Praveen Kumar Reddy is The C.E.O Of KVS Constructions.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          src="./assets/images/pr.jpg" alt="">

      </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">V.Sravan Kumar Reddy</span></h2>
        <p class="lead">Mr.v. Sravan Kumar Reddy is The General Manager Operatations.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          src="./assets/images/sravan.jpg" alt="">

      </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"> <span class="text-muted">Gouse Sayyad</span></h2>
        <p class="lead">Mr.Gouse Sayyad is The General Manager Projects (EPC).</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          src="./assets/images/gouse-1.jpg" alt="">

      </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">C.Srikanth</span></h2>
        <p class="lead">Mr.Chintha Srikanth is The Perssonel Manager Of KVS Constructions.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          src="./assets/images/srikanth.jpg" alt="">

      </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"> <span class="text-muted">B.Giridhar Reddy</span></h2>
        <p class="lead">Mr. Boggala Giridhar Reddy is The Account's Manager Of KVS Constructions.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          src="./assets/images/giri.jpg" alt="">

      </div>
    </div>
  </div>








  <h2 style="text-align: center; font-style: italic;">Site Incharges</h2>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
        aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/images/tc1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <img src="./assets/images/vekey.jpg" alt="noimg" width="250px" height="250px">
          <p class="bg-dark">Mr.Venkatesh Reddy is The Site Incharge of Penna Cement Industries LTD Talaricheruvu.He is
            our KVS Constructions Representative Person.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="./assets/images/bp1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <img src="./assets/images/eswar.jpg" alt="noimg" width="250px" height="250px">
          <span>
            <p class="bg-dark">Mr.Eswar Reddy is the Site Incharge of Penna Cement Industries LTD Boyireddypalli. He is
              our KVS Constructions Representative Person.</p>
          </span>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/images/td1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <img src="./assets/images/jana.jpg" alt=" noimg" width="250px" height="250px">
          <p class="bg-dark"> Mr.Janardhan Reddy is The site Incharge of Penna Cement Industries LTD Tanduru.He is our
            KVS Constructions Representative Person.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/images/Pts.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <img src="./assets/images/prasad.jpg" alt=" noimg" width="250px" height="250px">
          <p class="bg-dark"> Mr.Prsad is The site Incharge of Penna Cement Industries LTD Patas .He is our KVS
            Constructions Representative Person.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/images/gp1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <img src="./assets/images/bu.jpg" alt="noimg" width="250px" height="250px">

          <p class="bg-dark">Mr.P.Bunny is The site Incharge of Penna Power plant Ganeshpahad. He is our KVS
            Constructions Representative Person.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="./assets/images/kp1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <img src="./assets/images/murali.jpg" alt=" noimg" width="250px" height="250px">

          <p class="bg-dark"> Mr.Murali Krishna is The site Incharge of Penna Cement Industries LTD Krishnapatanam
            Port.He is our KVS Constructions Representative Person.</p>
        </div>
      </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</body>
<footer class="container" style="background-color: black;">
  <p class="float-end"><a href="/aboutus">Back to top</a></p>
  <p style="color: white;">© 2019–2021 KVS Constructions, All Rights Regerved. <a href="">Privacy</a> · <a
      href="#">Terms</a></p>
</footer>

</html>