<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="">
        <h1 class="display-5 fw-bold lh-1 mb-3"> KVSCO</h1>
      </div>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="./assets/images/ss2.jpg" alt="" >
        <h1 class="display-5 fw-bold">MAINTENANCE</h1>
        <div class="col-lg-6 mx-auto">
            <div class="textBlog">

                <p>Apart form construction activities we are specialized in Maintenance activities as well. Our Maintenance team consists of highly skilled and experienced managerial, engineering, technical and rigging team those can handle all type of machineries pertaining to Cement, Stell, Sugar, Chemical, Power Generation and Distribution.</p>
                <div class="clear20"></div>
                <p>In view of the high quality Maintenance and our pleasing relationship with our clients we get repeat orders from our clients. Our Civil, Mechanical, Electrical and Instrumentation division had proved their strength through their in depth knowledge and wide experience in various jobs.</p>
                <div class="clear20"></div>
                <p>Due to the demand from our clients we are setting up rotating machineries dynamic balancing technical team. and also a team for Electrical / Instrumentation calibration for protection relays, calibration of measuring and controlling instruments for process requirement.</p>
                <div class="clear20"></div>
                <p>We have attached some of the photographs where we have carried our maintenance activities. The repeat orders what we get form our client will speak about our commitments and achievements.</p>
                <p>We look forward to receive your valuable enquiries from your esteemed organization...</p>
              </div>          
        </div>
      </div>

    <h2 style="text-align: center; font-style: italic;">KVS Constructions Maintenance Sites</h2>
    <div class="card" style="width: 79rem;">
        <img src="./assets/images/tc1.jpg" class="card-img-top"
            alt="noimg">
        <div class="card-body">
            <h5 class="card-title">Talaricheruvu </h5>
            <p class="card-text">Tadipatri is the first cement manufacturing unit of Penna Cements located at
                Talaricheruvu village in the Tadipatri Mandal of Anantapur District. It was established with an initial
                capacity of 0.2 MTPA in 1994; the capacity has increased over the years, resulting in an installed
                capacity of 1.8 MTPA. We had a Man Power Supply contract with Penna Cements. We supply Techinical &Non-Techinical Man Power. 90+ Member's working with
                our company for Penna Cement Industries LTD Talaricheruvu.

            </p>
            <a href="#" class="btn btn-primary">Know more</a>
        </div>
    </div>

    <div class="card" style="width: 79rem;">
        <img src="./assets/images/bp1.jpg"
            class="card-img-top" alt="noimg">
        <div class="card-body">
            <h5 class="card-title">Boyireddypalli </h5>
            <p class="card-text">Located in Boyireddypalli in South-western Andhra Pradesh, the unit was commissioned in
                Sep 2008 with a capacity of 2.0 MTPA. We had a Man Power Supply contract with Penna Cements.We supply Techinical &Non-Techinical Man Power. 250+ Member's working with
                our company for Penna Cement Industries LTD Boyireddypalli. </p>
            <a href="#" class="btn btn-primary">Know more</a>
        </div>
    </div>

    <div class="card" style="width: 79rem;">
        <img src="./assets/images/td1.jpg"
            class="card-img-top" alt="noimg">
        <div class="card-body">
            <h5 class="card-title">Tandur </h5>
            <p class="card-text">Located in Ranga Reddy district of Telangana, the unit was commissioned in 2010 with a
                capacity of 2.0 MTPA. We had a Man Power Supply contract with Penna Cements.We supply Techinical &Non-Techinical Man Power. 300+ Member's working with
                our company for Penna Cement Industries LTD Tandur. </p>
            <a href="#" class="btn btn-primary">Know more</a>
        </div>
    </div>

    

    <div class="card" style="width: 79rem;">
        <img src="./assets/images/Pts.jpg" class="card-img-top"
            alt="noimg">
        <div class="card-body">
            <h5 class="card-title">Patas </h5>
            <p class="card-text">Patas grinding unit is located in Maharashtra at a distance of 71 km from Pune and 220
                km from Mumbai and is approximately 399 kms from our Tandur facility. We had a Man Power Supply contract with Penna Cements.We supply Techinical &Non-Techinical Man Power. 150+ Member's working with
                our company for Penna Cement Industries LTD Patas.</p>
            <a href="#" class="btn btn-primary">Know more</a>
        </div>
    </div>


    <div class="card" style="width: 79rem;">
        <img src="./assets/images/gp1.jpg"
            class="card-img-top" alt="noimg">
        <div class="card-body">
            <h5 class="card-title">Ganeshpahad Power Plant </h5>
            <p class="card-text">A 77MW coal-based power plant is located at Ganeshpahad village, Damarcherla Mandal of
                Nalgonda District in Telangana. We had a Man Power Supply contract with Penna Cements.We supply Techinical &Non-Techinical Man Power. 50+ Member's working with
                our company for Penna Cement Industries LTD Ganeshpahad Power Plant. </p>
            <a href="#" class="btn btn-primary">Know more</a>
        </div>
    </div><br>
    <h2 style="text-align: center; font-style: italic;">Current Running Projects</h2>
    <div class="card" style="width: 79rem;">
        <img src="./assets/images/kp1.jpg" class="card-img-top"
            alt="noimg">
        <div class="card-body">
           <br> <h5 class="card-title">Krishnapatnam Port</h5>
            <p class="card-text">
                Krishnapatnam grinding unit is located 178 kms from Chennai.
                Its strategic location, together with our port based logistics infrastructure and distribution strategy, would provide us access to the coastal markets connecting us to markets in east and west India including Kolkata, Bhubaneswar, Cuttack, Cochin, Pune and Mumbai.
                The unit is located approximately 270 kms, 287 kms and 322 kms from our integrated manufacturing facilities at Talaricheruvu, Boyareddypalli and Ganeshpahad, respectively. We had a Man Power Supply contract with Penna Cements.We supply Techinical &Non-Techinical Man Power. 250+ Member's working with
                our company for Penna Cement Industries LTD Krishnapatnam Port.
                
                </p>
            <a href="#" class="btn btn-primary">Know more</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>
<footer class="container" style="background-color: black;">
    <p class="float-end"><a href="/services">Back to top</a></p>
    <p style="color: white;">© 2019–2021 KVS Constructions, All Rights Regerved. <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
</html>
