<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center; font-style: italic;">Contact Us</h1>
    <div class="card mb-3">
        <img src="./assets/images/contactus.jpg" class="card-img-top" alt="..." height="500px">
        <div class="card-body">
          <h1 class="card-title bg-danger">Regestred Office:</h1>
          <div class="infographic-img"><img src="./assets/images/location.png">KVS CONSTRUCTIONS</div>
          <span style="margin:33px;">Regd. Off: Flot No:201,SRI CHAKRA APARTMENT,</span><br>
          <span style="margin:33px;">VANAMTHOPU,KONDAYAPALEM GATE,</span><br>
          <span style="margin:33px;">NELLORE-524004, </span><br>
          <span style="margin:33px;">ANDHRA PREDESH STATE, </span><br>
          <span style="margin:33px;">INDIA</span>
        </div>
        <tr>
			<th scope="col">
			<div class="infographic-img"><img src="./assets/images/phoneicon.png"> <strong>Phone</strong>: +91 8106367709</div>
			</th>
		</tr>
        <tr>
			<th scope="col">
			<div class="infographic-img"><img src="./assets/images/email.png"> Email: <a href="">kvsconstructions2019@gmail.com</a></div>
			</th>
		</tr>
      </div>
      <router-outlet></router-outlet>
</body>
<footer class="container" style="background-color: black;">
    <p class="float-end"><a href="/contactus">Back to top</a></p>
    <p style="color: white;">© 2019–2021 KVS Constructions, All Rights Regerved. <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
</html>